
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ana Sayfa", "MainPage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sınavlar", "Exams", "Exam")</li>
                    <li>@Html.ActionLink("Ders Döküman", "LessonText", "Lessons")</li>
                    <li>@Html.ActionLink("Ders Videoları", "LessonVideos", "Lessons")</li>
                    <li>@Html.ActionLink("Sınav Sıralama", "ExamResults", "Exam")</li>
                    <li style="float:right"> <button id="btnExit" style="float:right" onclick="Exit()">Çıkış</button>  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function Exit() {
        debugger;
        $.ajax({
            type: "POST",
            url: "/Home/Exit",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(response);
                if (response.code === true) {

                    alert("Çıkış işlemi başarılı");
                    window.location = "/Sign/SignIn";
                }
                
                

            },
            //failure: function (response) {
            //    alert(response.d);
            //},
            error: function (response) {
                alert(response);
            }
        });


    }


</script>
